@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.card {
    width: 350px;
    height: 350px;
    padding: 25px 30px;
    border-radius: 12px;
    background-color: hsl(213, 19%, 18%);
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #2b333b;
    align-items: center;
    justify-content: center;
}

.img-contain {
    display: flex;
}

.card h2 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

.card p {
    color: hsl(217, 12%, 63%);
    font-size: 0.875rem;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 20px;
}

.rating {
    font-size: 0.875rem;
    display: inline-flex;
    color: hsl(217, 12%, 63%);
}

.rating:hover {
    background-color: #FC7613;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.rating-active {
    background-color: hsl(216, 12%, 54%);
    color: white;
}

.subBtn{
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    border: 0;
    border-radius: 16px;
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    letter-spacing: 2px;
    background-color: #FC7613;
}

.subBtn:hover {
    background-color: hsl(0, 0%, 100%);
    color: #FC7613;
    cursor: pointer;
}

#rating {
    margin-top: 25px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.subResult {
  background-color: hsl(216, 12%, 8%);
  padding: 5px 10px;
  border-radius: 16px;
  display: inline-block;
  color: #FC7613;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
